@use '../variables'
@use '../mixins'

.container
    display: flex
    flex-direction: column
    width: 70rem
    height: 37rem

    .top-side
        width: 100%
        height: 50%
        display: flex
        justify-content: space-around
        .title
            width: 100%
            height: 100%
            margin: 0.3rem .7rem
            h1
                color: variables.$h1-card-bg-color
                font-size: 3.3rem
                width: 22rem

            p
                color: variables.$p-color
                font-size: 1.1rem
                font-weight: 500
                width: 28rem
                line-height: 1.5rem
                margin-top: 1.6rem

        .rating
            width: 100%
            height: 78.5%
            display: flex
            flex-direction: column
            justify-content: space-evenly
            margin-top: 1rem
            &-box
                @include mixins.rating-box
                display: flex
                justify-content: space-between
                align-items: center
                padding-left: 1.5rem                
                &-image                                        
                    width:8.3rem
                    height: 1rem
                    display: flex
                    justify-content: space-evenly
                &-text
                    color: variables.$h1-card-bg-color
                    font-weight: 700
                    font-size: 1.06rem
            &-box:nth-child(1)
                margin-left: .7rem
                padding-right:5rem

            &-box:nth-child(2)
                margin-left: 3.5rem
                padding-right:2.9rem

            &-box:nth-child(3)
                margin-left: 6.5rem
                padding-right:4.7rem

    .bottom-side
        width: 100%
        height: 50%
        display: flex
        flex-direction: row
        gap: 1.8rem
        align-items: center
        margin-left: .65rem
        
        span
            @include mixins.user-box            
            .user
                display: flex
                gap: 1.3rem
                .subname
                    color: variables.$sub-name-color
                    font-size: 1.09rem
                    padding-top: .1rem
                img
                    border-radius: 50%
                    width: 2.5rem
                    height: 2.5rem                    
                h2
                    color: variables.$name-color
                    font-size: 1.08rem 
                    padding-top: 0.19rem               
            p  
                color: variables.$rating-bg-color
                padding-top: 1.5rem
                padding-left: 0.3rem
                font-size: 1.03rem
                line-height: 1.4rem
                 
            

        span:nth-child(1)                        
            margin-bottom:.8rem                               
            
        span:nth-child(2)            
            margin-top:1.2rem            

        span:nth-child(3)            
            margin-top: 3.3rem
            
